---
const { title, url, pubDate, description, tags } = Astro.props

var date = new Date(pubDate);
var options = { year: 'numeric', month: 'long' };
var formattedDate = date.toLocaleString('en-US', options);

---
<li>
    <div><h2><a href={url}>{title}</a></h2><span>{formattedDate}</span></div>
    <div class="sub" >
        <p>{description}</p>
        <p class="tags">{tags.map(tag => <a href={`/tags/${tag}/`}>{tag}</a>)}</p>
    </div>
</li>

<style>

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin-top: 0.4rem;
    margin-bottom: 0;
}

.sub {
    display: flex;
}

@media screen and (max-width: 635px) {
    .sub {
        flex-direction: column;
    }

    .tags {
        width: 100%
    }
}

a {
    color: theme('colors.green');
}
p {
    color: gray;
    margin-top: 5px;
}

.tags a {
    margin-right: 5px;
}
</style>