---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

var date = new Date(frontmatter.pubDate);
var options = { year: 'numeric', month: 'long' };
var formattedDate = date.toLocaleString('en-US', options);

---
<BaseLayout pageTitle={frontmatter.title}>
  <p class="desc" >{frontmatter.description}</p>
  <p class="pub-date" >{formattedDate}</p>

<div class="article" >

  <slot />
</div>

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    border: dotted 1px #a1a1a1;
    background-color: #e3e3e3;
    color: #6d48ab;
  }

  a {
    color: inherit;
  }

  html.dark .tag {
      background-color: #1f2327;
      color: #21c382;
  }
  .pub-date {
    text-align: end;
  }
  
  .desc {
    text-align: center;
    color: gray;
  }
</style>