---
import BaseLayout from './BaseLayout.astro';
import BlogPostingJSONLD from '../components/BlogPostingJSONLD.astro';
const { frontmatter, slug } = Astro.props;

const date = new Date(frontmatter.pubDate);
const options = { year: 'numeric', month: 'long' };
const formattedDate = date.toLocaleString('en-US', options);

const seoProps = {
  pageTitle: frontmatter.title,
  pageDescription: "Article from Krayorn's blog. it's description is '" + frontmatter.description + "''. It was published on " + frontmatter.pubDate.toString().substring(0, 10) + ".",
  OG: {
    basic: {
      title: frontmatter.title,
      type: "article",
      image: `${import.meta.env.SITE}posts/${slug}/og.png`,
    },
    article: {
      publishedTime: frontmatter.pubDate.toString().substring(0, 10),
      modifiedTime: frontmatter.updateDate ? frontmatter.updateDate.toString().substring(0, 10) : frontmatter.pubDate.toString().substring(0, 10),
      author: [{username: 'Krayorn'}],
      tags: frontmatter.tags,
    },
    optional: { description: frontmatter.description }
  }
}

---
<BaseLayout seoProps={seoProps}>
  <BlogPostingJSONLD slot="head" {...frontmatter} />
  <p class="desc" >{frontmatter.description}</p>
  <p class="pub-date" >{formattedDate}</p>
  <div class="article" >
    <slot />
  </div>

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}/`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    border: dotted 1px #a1a1a1;
    background-color: #1f2327;
    color: #21c382;
  }

  a {
    color: inherit;
  }

  .pub-date {
    text-align: end;
  }
  
  .desc {
    text-align: center;
    color: gray;
  }
</style>